<a href="https://colab.research.google.com/github/31grudnia/Machine-Learning-Projects/blob/6-Model-Selection-In-ML/6_Model_Selection_in_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   Comparing models with default hyperparameters values using Cross Validation
2.   Comparing models with different hyperparameter values using GridSreachCV

# **Imports and preparation**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score, GridSearchCV

In [ ]:
# importting models

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
heart_data = pd.read_csv('/content/heart.csv')

In [ ]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
heart_data.shape

(303, 14)

In [ ]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# checking distribution of target variable

heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [ ]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']
print(f'X: {X}')
print(f'Y: {Y}')

X:      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
Y: 0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
X = np.asarray(X)
Y = np.asarray(Y)

# **Model Selection**

**[1]**

**Comparing models with default hyperparameter values using Cross Validation**

In [ ]:
# list of models

models = [LogisticRegression(max_iter=1000), 
          SVC(kernel='linear'), 
          KNeighborsClassifier(), 
          RandomForestClassifier(random_state=0)]

In [ ]:
def compare_models_with_cross_validation():

  for model in models:
    cv_score = cross_val_score(model, X, Y, cv=5)
    mean_accuracy = sum(cv_score) / len(cv_score)
    mean_accuracy = mean_accuracy*100
    mean_accuracy = round(mean_accuracy, 2)
    print(f"Cross Validation accuracy for {model} = {cv_score}")
    print(f"Accuarcy score of {model} = {mean_accuracy}%")
    print("----------------------------------------------------------")

In [ ]:
compare_models_with_cross_validation()

Cross Validation accuracy for LogisticRegression(max_iter=1000) = [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuarcy score of LogisticRegression(max_iter=1000) = 82.83%
----------------------------------------------------------
Cross Validation accuracy for SVC(kernel='linear') = [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuarcy score of SVC(kernel='linear') = 82.83%
----------------------------------------------------------
Cross Validation accuracy for KNeighborsClassifier() = [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuarcy score of KNeighborsClassifier() = 64.39%
----------------------------------------------------------
Cross Validation accuracy for RandomForestClassifier(random_state=0) = [0.85245902 0.90163934 0.81967213 0.81666667 0.8       ]
Accuarcy score of RandomForestClassifier(random_state=0) = 83.81%
----------------------------------------------------------

Inference: For the Heart Disease dataset, **Random Forest Classifier** has highest accuracyy value with default hyperparameter values

**[2]**

**Comparing models with different hyperparameter values using GridSearchCV**

In [ ]:
# list of models

models_list = [LogisticRegression(max_iter=10000), 
              SVC(), 
              KNeighborsClassifier(), 
              RandomForestClassifier(random_state=0)]

In [ ]:
# creating dictionary that contains hyperparameter values

model_hyperparameters = {
    'log_reg_hyperparameters': {
        
        'C': [1, 5, 10, 20]
    },

    'svc_hyperparameters': {
        
        'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
        'C': [1, 5, 10, 20]
    },

    'KNN_hyperparameters': {
        
        'n_neighbors': [3, 5, 10]
    },

    'random_fores_hyperparameters': {
        
        'n_estimators' : [10, 20, 50, 100]
    }
}

In [ ]:
model_keys = list(model_hyperparameters.keys())

**Applying GridSearchCV**

In [ ]:
def modelSelection(list_of_models, hyperparameters_dictionary):

  result = []
  i = 0

  for model in list_of_models:

    params = hyperparameters_dictionary[model_keys[i]]
    i += 1
    print(model)
    print(params)

    classifier = GridSearchCV(model, params, cv=5)
    classifier.fit(X, Y) # fitting data to cassifier

    result.append({
        'model used': model,
        'highest score': classifier.best_score_,
        'best hyperparameters': classifier.best_params_
    })

  result_dataframe = pd.DataFrame(result,
                                    columns = ['model used', 'highest score', 'best hyperparameters'])
  return result_dataframe

In [ ]:
modelSelection(models_list, model_hyperparameters)

LogisticRegression(max_iter=10000)
{'C': [1, 5, 10, 20]}
SVC()
{'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 20]}
KNeighborsClassifier()
{'n_neighbors': [3, 5, 10]}
RandomForestClassifier(random_state=0)
{'n_estimators': [10, 20, 50, 100]}

,model used,highest score,best hyperparameters
0,LogisticRegression(max_iter=10000),0.831585,{'C': 5}
1,SVC(),0.828306,"{'C': 1, 'kernel': 'linear'}"
2,KNeighborsClassifier(),0.643880,{'n_neighbors': 5}
3,RandomForestClassifier(random_state=0),0.838087,{'n_estimators': 100}